<div class="todo-item-content" [class.completed-item]="todo.completed">
  @if (isEditing) {
    <form (ngSubmit)="editSaved.emit()" class="edit-form">
      <mat-form-field appearance="outline" class="edit-input">
        <input
          matInput
          [ngModel]="editingText"
          (ngModelChange)="editTextChanged.emit($event)"
          (keyup.escape)="editCancelled.emit()"
          cdkFocusInitial
          name="editingTodo"
        />
      </mat-form-field>
      <button mat-icon-button color="primary" type="submit" aria-label="Save edit">
        <mat-icon>save</mat-icon>
      </button>
    </form>
    <button mat-icon-button (click)="editCancelled.emit()" aria-label="Cancel edit">
      <mat-icon>cancel</mat-icon>
    </button>
  } @else {
    <mat-checkbox [checked]="todo.completed" (change)="completionToggled.emit($event.checked)" class="todo-checkbox">{{ todo.text }}</mat-checkbox>
    <input
      [matDatepicker]="picker"
      [value]="todo.dueDate?.toDate()"
      (dateChange)="onDateChange($event)"
      style="display: none"
      #dateInput
    />
    <button class="due-date-container" [class.has-overdue]="isOverdue()" [class.has-due-soon]="isDueSoon()" (click)="picker.open()" [attr.aria-label]="getDueDateAriaLabel()" type="button">
      <span class="due-date-text" [class]="getDueDateClass()">{{ getDueDateText() }}</span>
    </button>
    <mat-datepicker #picker (closed)="onDatePickerClosed()"></mat-datepicker>
    <button mat-icon-button (click)="editStarted.emit()" aria-label="Edit to-do"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button color="warn" (click)="deleted.emit()" aria-label="Delete to-do"><mat-icon>delete</mat-icon></button>
  }
</div>