.todo-item-content {
  display: flex;
  align-items: center;
  width: 100%;

  &.completed-item {
    .todo-checkbox {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }
}

.todo-checkbox {
  flex-grow: 1;
  font-weight: bold;
}

.edit-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.edit-input {
  flex-grow: 1;
}

.due-date-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.due-date-text {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.date-picker-form-field {
  width: 120px;
}
