.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;

  mat-icon {
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
    color: var(--mat-sys-on-surface-variant);
  }

  h2, h3 {
    margin-top: 1rem;
  }

  p {
    margin-top: 0.5rem;
  }
}

mat-divider {
  margin-top: 1rem;
}

.todo-list-card {
  margin-top: 1rem;
}

.full-width {
  width: 80%;
}
