<div class="todo-controls-container">
    @if (store.todos().length >= 50) {
    <mat-form-field class="search-field" appearance="outline">
      <mat-label>Search To-Dos</mat-label>
      <input
        matInput
        [ngModel]="store.searchTerm()"
        (ngModelChange)="store.setSearchTerm($event)"
        placeholder="e.g., finish report" />
      <button
        mat-icon-button
        matSuffix
        (click)="store.setSearchTerm('')"
        [attr.aria-label]="'Clear search'"
        [class.hidden]="!store.searchTerm()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    }

    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      [value]="store.hideCompleted() ? 'hide' : 'show'"
      (change)="store.toggleHideCompleted(group.value === 'hide')"
      class="hide-completed-toggle">
      <mat-button-toggle-group #filters="matButtonToggleGroup">
        <mat-button-toggle value="show">
          <mat-icon>visibility</mat-icon>
          <span class="button-text">All</span>
        </mat-button-toggle>
        <mat-button-toggle value="hide">
          <mat-icon>visibility_off</mat-icon>
          <span class="button-text">Active</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-button-toggle-group>

    <div class="sort-controls">
      <button mat-stroked-button (click)="store.toggleSortBy('dueDate')" [class.active]="store.sortBy() === 'dueDate'">
        <mat-icon>sort</mat-icon>
        <span class="button-text">By Due Date</span>
      </button>
      <button mat-stroked-button (click)="store.toggleSortBy('text')" [class.active]="store.sortBy() === 'text'">
        <mat-icon>sort_by_alpha</mat-icon>
        <span class="button-text">Alphabetical</span>
      </button>
    </div>
  </div>