.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  gap: 16px;
}

.todo-search {
  flex-grow: 1;
  max-width: 400px;
}

.action-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  align-items: center;
}