.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.todo-search {
  flex-grow: 1;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sort-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  mat-chip-option {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 0.5rem;
    }
  }
}

.search-input {
  width: 100%;
}
