<mat-toolbar color="primary">
  <span>To-Do Sharer</span>
  <span class="spacer"></span>

  @if (authService.currentUser(); as currentUser) {
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
      @if (currentUser.photoURL) {
        <img class="avatar" [src]="currentUser.photoURL" alt="User avatar">
      } @else {
        <mat-icon class="avatar">account_circle</mat-icon>
      }
      <span class="user-name">{{ currentUser.displayName }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" class="manu-pannel-color">
      <div class="user-info">
        <span class="user-name">{{ currentUser.displayName }}</span>
        <span class="user-email">{{ currentUser.email }}</span>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  } @else {
    <button mat-flat-button routerLink="/login">
      <mat-icon>login</mat-icon>
      <span>Login with Google</span>
    </button>
  }
</mat-toolbar>