.spacer {
  flex: 1 1 auto;
}

.user-menu-button {
  .user-name {
    margin: 0 8px;
  }

  .mat-icon {
    margin-left: auto;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}