.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--mat-sys-surface);
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}

.error-footer {
  padding: 1rem;
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}

.flex-center {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1rem;
}

.padding-0_5rem {
  padding: 0.5rem;
}


