@use '@angular/material' as mat;
@include mat.core();

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

// Apply the light theme by default
html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$blue-palette,
    typography: Roboto,
    density: 0
  ));
}

// Apply the dark theme when the .dark-theme class is present
html.dark-theme {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$blue-palette,
    typography: Roboto,
    density: 0
  ));
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Animation for newly added items */
@keyframes flash {
  0% {
    background-color: var(--mat-sys-primary-container);
  }

  100% {
    background-color: transparent;
  }
}

.new-item-flash {
  animation: flash 1.5s ease-out;
}