<h1 mat-dialog-title>Edit Due Date</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" [disabled]="!selectedDate">Save</button>
</div>
